@mixin flexCentered() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  @include flexCentered();

  background-image: url("vnwFundo.png");
  background-size: 6%;
  height: 90vh;
}

$cor-branco: white;

h1 {
  color: darkorange;
  background-color: rgb(41, 41, 41);
  font-size: 3rem;
  padding: 10px;
  border-radius: 15px;
}

section {
  @include flexCentered();
  justify-content: space-around;

  background-color: midnightblue;
  border-radius: 20px;
  border-style: outset;
  border-color: darkslateblue;
  height: 70vh;
  width: 30vw;

  #entrada{
    height: 15vh;
    border-color: red;
    @include flexCentered();
  }
  input {
    background-color: darkorange;
    border-style: intset;
    border-color: darkgoldenrod;
    color: $cor-branco;
    font-size: 1.5rem;
    text-align: center;

    margin: 4%;
    height: 10vh;
    border-radius: 8px;
    border-style: none;

    &::placeholder {
      text-align: center;
      color: $cor-branco;
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }

  button {
    width: 70px;
    height: 70px;
    margin: 5%;

    background-color: darkslategray;
    color: $cor-branco;
    font-size: 2rem;
    border-radius: 10px;
    border-style: outset;
    //border-color: darkslategray;
  }
}

#botoes {
  @include flexCentered();
  
  flex-direction: row;
  flex-wrap: wrap;
}

#resultado {
  @include flexCentered();

  background-color: crimson;
  color: $cor-branco;
  width: 400px;
  height: 55px;

  font-size: 2rem;
}
